<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Cash Input: $ {{receivedCashDisplay}}</span>
  <span class="badge badge-secondary badge-pill">Price: {{itemPriceDisplay}}</span>
</h4>
<app-input-panel (receiveCash)="onReceivedCash($event)"> </app-input-panel>

<div class="input-group">
  <div class="input-group-append">
    <button class="btn btn-secondary">Cancel</button>

    <button class="btn btn-primary" (click)="calculateChange()">Ok</button>
  </div>
</div>

<div class="input-group">
  <ul class="list-group mb-3">
    <li *ngFor="let cash of  changeResult" class="list-group-item d-flex justify-content-between lh-condensed">
      <span>{{cash.displayName}}: {{cash.quantity}}</span>
    </li>
  </ul>
</div>
